@media screen and (min-width:321px) and (max-width: 480px) {
footer {
        .wrapper {
            .footer-top {
                .subscrible {
                    .input {
                        .email {
                            width: 61.5%;
                            font-size: 0.8em;
                        }
                        .submit {
                            font-size: 0.8em;
                            width: 27%;
                        }
                    }
                }
            }

        }
    }

}
